.post {
    display: flex;
    flex-direction: column;
    margin: 0 auto 24px;
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0px 4px 12px 7px rgba(34, 60, 80, 0.2);

    &_header {
        display: flex;
        flex-direction: row;
        margin-bottom: 24px;
        &_title {
            display: flex;
            flex-direction: column; 
            margin-left: 16px;

            .post_link {
                font-size: var(--font-size-text);
                color: var(--font-color-text);
                font-weight: bold;
            }
            .post_time {
                font-size: var(--font-size-description);
                color: var(--font-color-description);
            }
        }

        &_body {
            font-size: var(--font-size-text); 
        }
    }
}