.adminPanel {
    margin: 20px 0;

    &_actions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        column-gap: 10px;
    }
}

.form {
    display: flex;
    width: 500px;
    flex-direction: column;
    row-gap: 24px;
}