.createPost {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    padding: 24px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 12px 7px rgba(150, 150, 150, 0.2);

    &_footer {
        display: flex;
        width: 100%;
        padding-top: 24px;
        border-top: #61616165 1px solid;
    }
}